body {
  margin: 0;
  position: relative;
}
body::before {
  content: "";
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("graduation.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.20; 
  z-index: 3;
}
h1{ text-align: center;
    background-color: rgb(102, 53, 33);
    color: rgb(0, 0, 0);
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
} 

.big1{  background-image: url("ph2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 5; 
  z-index: 3;
    list-style-position: inside;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    width: 90%;
    white-space: pre;
    font-size: large;
    font-weight: lighter;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.big1 li{
    color: rgb(255, 255, 255);
}
.none{
    font-size: larger;
}
.moon{
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 90%;
    font-size: larger;
    font-weight: lighter;
    font-weight: bold;
    background-color: beige;
}
.card2{
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;

}
.card3{
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;



}
.card4{
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;


}
.card5{
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;


}
.card6{
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    border: 5px solid rgb(69, 6, 6);
     border-radius: 15px;
    cursor: pointer;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;

}
.card7{ text-align: center;
    margin: auto;
    padding: 20px;
    font-size: large;
}
.card8{ text-align: center;
    margin: auto;
    padding: 20px;
    font-size: large;
    margin-top:auto;
}
.card8 ul{
    list-style-position: inside;
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    position: relative;
    z-index: 0.90;
    padding: 20px;
    
}
.card9{ 
    list-style-position: inside;
    text-align: center;
    margin:auto;
    width: 100%;
    max-width: 1000px;
    font-size: large;
    position: relative;
    z-index: 0.90;
    padding: 20px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;



}
.card10{
    list-style-position: inside;
    width: 100%;
    text-align: center;
    margin-left: 240px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1000px;
    font-size: large;
    position: relative;
    z-index: 0.90;
    padding: 20px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;


}
.card11{
    list-style-position: inside;
    width: 100%;
    text-align: center;
    margin-left: 240px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1000px;
    font-size: large;
    position: relative;
    z-index: 0.90;
    padding: 20px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;


}
.card12{
    list-style-position: inside;
    width: 100%;
    text-align: center;
    margin-left: 240px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1000px;
    font-size: large;
    position: relative;
    z-index: 0.90;
    padding: 20px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;

}
.card14{
    list-style-position: inside;
    width: 100%;
    text-align: center;
    margin-left: 240px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1000px;
    font-size: large;
    position: relative;
    z-index: 0.90;
    padding: 20px;
    border: 5px solid rgb(69, 6, 6);
    border-radius: 15px;
    background-color: rgb(237, 216, 216);
        box-shadow: rgb(98, 24, 24) 5px 5px 15px;

}
.yes{
    font-weight: bold;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: 5px;
}

ul{ list-style-position: inside;
text-align: center;
}
.lol{ font-weight: bold;
    font-size:larger;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: 5px;

}
button {
    position: relative;
    z-index: 5;
    padding: 5px 12px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    background-color: rgb(88, 65, 37);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(120, 80, 20);
    transform: scale(1.1);
}
